.app {
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
}

.display {
    display: flex;
    flex-direction: row;
}

.sidebar {
    border: 2px solid black;
    border-radius: 10px;
    width: 35vw;
    height: auto;
}