.sidebar {
    border: 2px solid black;
    border-radius: 10px;
    width: 35vw;
    height: auto;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

hr {
    height: 2px;
    background-color: black;
}

.right button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-left: 1em;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .right button:hover {
    background-color: #45a049;
  }

  .list button{
    display: flex;
    flex-direction: column;
    margin: 1em;
  }

  input {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 6em;
  }
  
  input:focus {
    outline: none;
    border-color: #6699cc;
    box-shadow: 0 0 5px rgba(102, 153, 204, 0.5);
  }

  .deletable {
    position: relative;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 10px;
    padding-right: 3em;
  }
  
  .deletable:not(.inactive)::after {
    content: '❌';
    position: absolute;
    top: 5px;
    right: 5px;
    color: #999;
    font-size: 18px;
    
  }
  
  .deletable:not(.inactive):hover::after {
    color: #333;
  }